<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
<h1>colors</h1>

</div>

<div class="bar">
  <div class="box" [ngStyle]="{'background-color': colors[a]}"></div>
  <div class="box" [ngStyle]="{'background-color': colors[b]}"></div>
  <div class="box" [ngStyle]="{'background-color': colors[c]}"></div>
  <div class="box" [ngStyle]="{'background-color': colors[d]}"></div>
  <div class="box" [ngStyle]="{'background-color': colors[e]}"></div>
  <div class="box" [ngStyle]="{'background-color': colors[f]}"></div>
  <div class="box" [ngStyle]="{'background-color': colors[g]}"></div>
  <div class="box" [ngStyle]="{'background-color': colors[h]}"></div>
  <div class="box" [ngStyle]="{'background-color': colors[i]}"></div>
  <div class="box" [ngStyle]="{'background-color': colors[j]}"></div>


</div>
